import { objectType } from "nexus";
import { {{{NAME}}} } from "nexus-prisma";

export const {{{NAME}}}Type = objectType({
  name: {{{NAME}}}.$name,
  description: {{{NAME}}}.$description,
  definition(t) {
    Object.entries({{{NAME}}}).forEach(([key, value]) => {
      if (!key.startsWith("$")) t.field(value);
    });
  },
});
